<%= render partial:"shared/heading", locals: {title: 'Add your latest update', tagline: 'Give us a glimpse of what you have been working on'} %>


<div class="mx-auto max-w-3xl">
  <div class="mt-2">
    <textarea rows="6" name="comment" id="comment" placeholder="add something here" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
  </div>

  <div class="mt-6 flex items-center justify-center gap-x-6">
      <button type="submit"  class="w-full rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">Submit</button>
  </div>
</div>
