<div class="text-center mb-4">
  <h1 class="mt-1 font-extrabold text-gray-900 text-2xl sm:text-2xl sm:tracking-tight lg:text-3xl"><%= title %></h1>
  <p class="max-w-l mt-5 mx-auto text-l text-gray-500"><%= tagline.html_safe %></p>
</div>
